# Weeks 7 & 8 Exeercises
### Angie Oehler
### 05/01/2021

## Exercises
Choose from either of these two datasets:

- So Much Data Candy, Seriously.  
- The Metropolitan Museum of Art Open Access CSV.  

For this assignment, complete 8 of the following exercises against this data.

Select at least two methods from each chapter to perform on one of the datasets.

### Chapter 7
- Filter out missing data
- Fill in missing data
- Remove duplicates
- Transform data using either mapping or a function
- Replace values
- Discretization and Binning
- Manipulate Strings

In [276]:
# Import the libraries
import numpy as np
import pandas as pd

In [10]:
# Import the Met data file
# I was getting an error about mixed types, so I included the low mwmory info as suggested
df = pd.read_csv("Metobjects.csv", low_memory = False)

In [17]:
# Look at size
df.shape

(475704, 54)

In [27]:
# filter missing data
no_missing = df.dropna()
no_missing.head()

Empty DataFrame
Columns: [Object Number, Is Highlight, Is Timeline Work, Is Public Domain, Object ID, Gallery Number, Department, AccessionYear, Object Name, Title, Culture, Period, Dynasty, Reign, Portfolio, Constituent ID, Artist Role, Artist Prefix, Artist Display Name, Artist Display Bio, Artist Suffix, Artist Alpha Sort, Artist Nationality, Artist Begin Date, Artist End Date, Artist Gender, Artist ULAN URL, Artist Wikidata URL, Object Date, Object Begin Date, Object End Date, Medium, Dimensions, Credit Line, Geography Type, City, State, County, Country, Region, Subregion, Locale, Locus, Excavation, River, Classification, Rights and Reproduction, Link Resource, Object Wikidata URL, Metadata Date, Repository, Tags, Tags AAT URL, Tags Wikidata URL]
Index: []

[0 rows x 54 columns]

In [28]:
# It appears that all rows may have missing data, so dropping the missing rows probably isn't the best option
no_missing.shape

(0, 54)

In [32]:
# What happens if we just drop the rows that have all missing data?
row_missing = df.dropna(how = 'all')
row_missing.shape

(475704, 54)

In [35]:
# that didn't help much.  How about columns?
col_missing = df.dropna(axis = 1, how = 'all')
col_missing.shape

(475704, 53)

In [37]:
# Fill in all missing fields with 00 to indicate no data
col_missing.fillna('00')

,Object Number,Is Highlight,Is Timeline Work,Is Public Domain,Object ID,Gallery Number,Department,AccessionYear,Object Name,Title,...,Excavation,River,Classification,Rights and Reproduction,Link Resource,Object Wikidata URL,Repository,Tags,Tags AAT URL,Tags Wikidata URL
0,1979.486.1,False,False,False,1,00,The American Wing,1979,Coin,One-dollar Liberty Head Coin,...,00,00,00,00,http://www.metmuseum.org/art/collection/search/1,00,"Metropolitan Museum of Art, New York, NY",00,00,00
1,1980.264.5,False,False,False,2,00,The American Wing,1980,Coin,Ten-dollar Liberty Head Coin,...,00,00,00,00,http://www.metmuseum.org/art/collection/search/2,00,"Metropolitan Museum of Art, New York, NY",00,00,00
2,67.265.9,False,False,False,3,00,The American Wing,1967,Coin,Two-and-a-Half Dollar Coin,...,00,00,00,00,http://www.metmuseum.org/art/collection/search/3,00,"Metropolitan Museum of Art, New York, NY",00,00,00
3,67.265.10,False,False,False,4,00,The American Wing,1967,Coin,Two-and-a-Half Dollar Coin,...,00,00,00,00,http://www.metmuseum.org/art/collection/search/4,00,"Metropolitan Museum of Art, New York, NY",00,00,00
4,67.265.11,False,False,False,5,00,The American Wing,1967,Coin,Two-and-a-Half Dollar Coin,...,00,00,00,00,http://www.metmuseum.org/art/collection/search/5,00,"Metropolitan Museum of Art, New York, NY",00,00,00
5,67.265.12,False,False,False,6,00,The American Wing,1967,Coin,Two-and-a-Half Dollar Coin,...,00,00,00,00,http://www.metmuseum.org/art/collection/search/6,00,"Metropolitan Museum of Art, New York, NY",00,00,00
6,67.265.13,False,False,False,7,00,The American Wing,1967,Coin,Two-and-a-Half Dollar Coin,...,00,00,00,00,http://www.metmuseum.org/art/collection/search/7,00,"Metropolitan Museum of Art, New York, NY",Birds|Coins,http://vocab.getty.edu/page/aat/300266506|http...,https://www.wikidata.org/wiki/Q5113|https://ww...
7,67.265.14,False,False,False,8,00,The American Wing,1967,Coin,Two-and-a-Half Dollar Coin,...,00,00,00,00,http://www.metmuseum.org/art/collection/search/8,00,"Metropolitan Museum of Art, New York, NY",Eagles|Men|Profiles,http://vocab.getty.edu/page/aat/300250049|http...,https://www.wikidata.org/wiki/Q2092297|https:/...
8,67.265.15,False,False,False,9,00,The American Wing,1967,Coin,Two-and-a-Half Dollar Coin,...,00,00,00,00,http://www.metmuseum.org/art/collection/search/9,00,"Metropolitan Museum of Art, New York, NY",00,00,00
9,1979.486.3,False,False,False,10,00,The American Wing,1979,Coin,Two-and-a-half-dollar Indian Head Coin,...,00,00,00,00,http://www.metmuseum.org/art/collection/search/10,00,"Metropolitan Museum of Art, New York, NY",00,00,00
10,1979.486.2,False,False,False,11,00,The American Wing,1979,Coin,Two-and-a-half-dollar Liberty Head Coin,...,00,00,00,00,http://www.metmuseum.org/art/collection/search/11,00,"Metropolitan Museum of Art, New York, NY",00,00,00
11,1979.486.7,False,False,False,12,00,The American Wing,1979,Coin,Twenty-dollar Liberty Head Coin,...,00,00,00,00,http://www.metmuseum.org/art/collection/search/12,00,"Metropolitan Museum of Art, New York, NY",00,00,00
12,1979.486.4,False,False,False,13,00,The American Wing,1979,Coin,Five-dollar Indian Head Coin,...,00,00,00,00,http://www.metmuseum.org/art/collection/search/13,00,"Metropolitan Museum of Art, New York, NY",00,00,00
13,1979.486.5,False,False,False,14,00,The American Wing,1979,Coin,Five-dollar Liberty Head Coin,...,00,00,00,00,http://www.metmuseum.org/art/collection/search/14,00,"Metropolitan Museum of Art, New York, NY",00,00,00
14,16.74.49,False,False,False,15,00,The American Wing,1916,Coin,"Coin, 1/2 Real",...,00,00,00,00,http://www.metmuseum.org/art/collection/search/15,00,"Metropolitan Museum of Art, New York, NY",00,00,00
15,16.74.27,False,False,False,16,00,The American Wing,1916,Peso,"Coin, 1/4 Peso",...,00,00,00,00,http://www.metmuseum.org/art/collection/search/16,00,"Metropolitan Museum of Art, New York, NY",00,00,00
16,16.74.28,False,False,False,17,00,The American Wing,1916,Peso,"Coin, 1/4 Peso",...,00,00,00,00,http://www.metmuseum.org/art/collection/search/17,00,"Metropolitan Museum of Art, New York, NY",00,00,00
17,16.74.29,False,False,False,18,00,The American Wing,1916,Peso,"Coin, 1/4 Peso",...,00,00,00,00,http://www.metmuseum.org/art/collection/search/18,00,"Metropolitan Museum of Art, New York, NY",00,00,00
18,16.74.30,False,False,False,19,00,The American Wing,1916,Peso,"Coin, 1/4 Peso",...,00,00,00,00,http://www.metmuseum.org/art/collection/search/19,00,"Metropolitan Museum of Art, New York, NY",00,00,00
19,16.74.31,False,False,False,20,00,The American Wing,1916,Peso,"Coin, 1/4 Peso",...,00,00,00,00,http://www.metmuseum.org/art/collection/search/20,00,"Metropolitan Museum of Art, New York, NY",00,00,00
20,16.74.32,False,False,False,21,00,The American Wing,1916,Peso,"Coin, 1/4 Peso",...,00,00,00,00,http://www.metmuseum.org/art/collection/search/21,00,"Metropolitan Museum of Art, New York, NY",00,00,00
21,16.74.43,False,False,False,22,00,The American Wing,1916,Coin,"Coin, 1/4 Real",...,00,00,00,00,http://www.metmuseum.org/art/collection/search/22,00,"Metropolitan Museum of Art, New York, NY",00,00,00
22,16.74.44,False,False,False,23,00,The American Wing,1916,Coin,"Coin, 1/4 Real",...,00,00,00,00,http://www.metmuseum.org/art/collection/search/23,00,"Metropolitan Museum of Art, New York, NY",00,00,00
23,16.74.33,False,False,False,24,00,The American Wing,1916,Centavos,"Coin, 10 Centavos",...,00,00,00,00,http://www.metmuseum.org/art/collection/search/24,00,"Metropolitan Museum of Art, New York, NY",00,00,00
24,16.74.34,False,False,False,25,00,The American Wing,1916,Centavos,"Coin, 10 Centavos",...,00,00,00,00,http://www.metmuseum.org/art/collection/search/25,00,"Metropolitan Museum of Art, New York, NY",00,00,00
25,16.74.35,False,False,False,26,00,The American Wing,1916,Centavos,"Coin, 10 Centavos",...,00,00,00,00,http://www.metmuseum.org/art/collection/search/26,00,"Metropolitan Museum of Art, New York, NY",00,00,00
26,16.74.36,False,False,False,27,00,The American Wing,1916,Centavos,"Coin, 10 Centavos",...,00,00,00,00,http://www.metmuseum.org/art/collection/search/27,00,"Metropolitan Museum of Art, New York, NY",00,00,00
27,16.74.38,False,False,False,28,00,The American Wing,1916,Centavos,"Coin, 10 Centavos",...,00,00,00,00,http://www.metmuseum.org/art/collection/search/28,00,"Metropolitan Museum of Art, New York, NY",00,00,00
28,16.74.39,False,False,False,29,00,The American Wing,1916,Centavos,"Coin, 10 Centavos",...,00,00,00,00,http://www.metmuseum.org/art/collection/search/29,00,"Metropolitan Museum of Art, New York, NY",00,00,00
29,16.74.37,False,False,False,30,00,The American Wing,1916,Centavos,"Coin, 10 Centavos",...,00,00,00,00,http://www.metmuseum.org/art/collection/search/30,00,"Metropolitan Museum of Art, New York, NY",00,00,00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475674,33.35.104,False,False,False,852712,00,Drawings and Prints,1933,Print,The Allure of Alcohol,...,00,00,Prints,00,http://www.metmuseum.org/art/collection/search...,00,"Metropolitan Museum of Art, New York, NY",00,00,00
475675,33.35.105,False,False,False,852713,00,Drawings and Prints,1933,Print,No More Blowers (Bellows) Wanted for Storms,...,00,00,Prints,00,http://www.metmuseum.org/art/collection/search...,00,"Metropolitan Museum of Art, New York, NY",00,00,00
475676,33.35.106,False,False,False,852714,00,Drawings and Prints,1933,Print,Santa Claus in the Speaker's Chair at Congress,...,00,00,Prints,00,http://www.metmuseum.org/art/collection/search...,00,"Metropolitan Museum of Art, New York, NY",00,00,00
475677,33.35.107,False,False,False,852715,00,Drawings and Prints,1933,Print,Hide and Seek,...,00,00,Prints,00,http://www.metmuseum.org/art/collection/search...,00,"Metropolitan Museum of Art, New York, NY",00,00,00
475678,33.35.108,False,False,False,852716,00,Drawings and Prints,1933,Print,End of playtime,...,00,00,Prints,00,http://www.metmuseum.org/art/collection/search...,00,"Metropolitan Museum of Art, New York, NY",00,00,00
475679,33.35.109,False,False,False,852717,00,Drawings and Prints,1933,Print,"Calling on Miss Columbia, New Year's Day, 1876...",...,00,00,Prints,00,http://www.metmuseum.org/art/collection/search...,00,"Metropolitan Museum of Art, New York, NY",00,00,00
475680,33.35.110,False,False,False,852718,00,Drawings and Prints,1933,Print,The Ark of Temperance,...,00,00,Prints,00,http://www.metmuseum.org/art/collection/search...,00,"Metropolitan Museum of Art, New York, NY",00,00,00
475681,33.35.113,False,False,False,852719,00,Drawings and Prints,1933,Print,Tripping over a washbucket,...,00,00,Prints,00,http://www.metmuseum.org/art/collection/search...,00,"Metropolitan Museum of Art, New York, NY",00,00,00
475682,33.35.114,False,False,False,852720,00,Drawings and Prints,1933,Print,Bedtime Prayers,...,00,00,Prints,00,http://www.metmuseum.org/art/collection/search...,00,"Metropolitan Museum of Art, New York, NY",00,00,00
475683,33.35.115,False,False,False,852721,00,Drawings and Prints,1933,Print,Young carpenter,...,00,00,Prints,00,http://www.metmuseum.org/art/collection/search...,00,"Metropolitan Museum of Art, New York, NY",00,00,00
475684,33.35.116,False,False,False,852722,00,Drawings and Prints,1933,Print,Two blank canvases,...,00,00,Prints,00,http://www.metmuseum.org/art/collection/search...,00,"Metropolitan Museum of Art, New York, NY",00,00,00
475685,33.35.119,False,False,False,852723,00,Drawings and Prints,1933,Print,Christmas Comes But Once a Year. Therefore Let...,...,00,00,Prints,00,http://www.metmuseum.org/art/collection/search...,00,"Metropolitan Museum of Art, New York, NY",00,00,00
475686,33.35.120,False,False,False,852724,00,Drawings and Prints,1933,Print,A Christmas Sketch – Five O’Clock in the Morni...,...,00,00,Prints,00,http://www.metmuseum.org/art/collection/search...,00,"Metropolitan Museum of Art, New York, NY",00,00,00
475687,33.35.121,False,False,False,852725,00,Drawings and Prints,1933,Print,Janus the Good Beginner,...,00,00,Prints,00,http://www.metmuseum.org/art/collection/search...,00,"Metropolitan Museum of Art, New York, NY",00,00,00
475688,33.35.122,False,False,False,852726,00,Drawings and Prints,1933,Print,The Annual Sacrifice That Cheers Many Hearts (...,...,00,00,Prints,00,http://www.metmuseum.org/art/collection/search...,00,"Metropolitan Museum of Art, New York, NY",00,00,00
475689,33.35.123,False,False,False,852727,00,Drawings and Prints,1933,Print,Resisting Alcohol,...,00,00,Prints,00,http://www.metmuseum.org/art/collection/search...,00,"Metropolitan Museum of Art, New York, NY",00,00,00
475690,33.35.124,False,False,False,852728,00,Drawings and Prints,1933,Print,Honoring the Memory of George Washington,...,00,00,Prints,00,http://www.metmuseum.org/art/collection/search...,00,"Metropolitan Museum of Art, New York, NY",00,00,00
475691,33.35.125,False,False,False,852729,00,Drawings and Prints,1933,Print,Liberty Entering a Darkened United States Capitol,...,00,00,Prints,00,http://www.metmuseum.org/art/collection/search...,00,"Metropolitan Museum of Art, New York, NY",00,00,00
475692,33.35.126,False,False,False,852730,00,Drawings and Prints,1933,Print,"""Who Said Anything About Thanksgiving Dinner?""...",...,00,00,Prints,00,http://www.metmuseum.org/art/collection/search...,00,"Metropolitan Museum of Art, New York, NY",00,00,00
475693,33.35.127,False,False,False,852731,00,Drawings and Prints,1933,Print,"Hello!, Santa Claus! (originally published in ...",...,00,00,Prints,00,http://www.metmuseum.org/art/collection/search...,00,"Metropolitan Museum of Art, New York, NY",00,00,00
475694,33.35.128,False,False,False,852732,00,Drawings and Prints,1933,Print,Commercial Boycott,...,00,00,Prints,00,http://www.metmuseum.org/art/collection/search...,00,"Metropolitan Museum of Art, New York, NY",00,00,00
475695,33.35.129,False,False,False,852733,00,Drawings and Prints,1933,Print,Boy and Girl Carrying Wreaths and Crosses,...,00,00,Prints,00,http://www.metmuseum.org/art/collection/search...,00,"Metropolitan Museum of Art, New York, NY",00,00,00
475696,33.35.130,False,False,False,852734,00,Drawings and Prints,1933,Print,New Year's 1877,...,00,00,Prints,00,http://www.metmuseum.org/art/collection/search...,00,"Metropolitan Museum of Art, New York, NY",00,00,00
475697,33.35.131,False,False,False,852735,00,Drawings and Prints,1933,Print,"More Bravado? (from ""Harper's Weekly,"" March 5...",...,00,00,Prints,00,http://www.metmuseum.org/art/collection/search...,00,"Metropolitan Museum of Art, New York, NY",00,00,00
475698,33.35.132,False,False,False,852736,00,Drawings and Prints,1933,Print,"Embalmed, That They May Keep Until 1880, or Lo...",...,00,00,Prints,00,http://www.metmuseum.org/art/collection/search...,00,"Metropolitan Museum of Art, New York, NY",00,00,00
475699,33.35.133,False,False,False,852737,00,Drawings and Prints,1933,Print,"They Do Each Other Honor (from ""Harper's Weekl...",...,00,00,Prints,00,http://www.metmuseum.org/art/collection/search...,00,"Metropolitan Museum of Art, New York, NY",00,00,00
475700,33.35.134,False,False,False,852738,00,Drawings and Prints,1933,Print,"The Newest Arrival (published in ""Harper's Wee...",...,00,00,Prints,00,http://www.metmuseum.org/art/collection/search...,00,"Metropolitan Museum of Art, New York, NY",00,00,00
475701,33.35.135,False,False,False,852739,00,Drawings and Prints,1933,Print,"Christmas Post (from ""Harper's Weekly,"" Januar...",...,00,00,Prints,00,http://www.metmuseum.org/art/collection/search...,00,"Metropolitan Museum of Art, New York, NY",00,00,00
475702,33.35.136,False,False,False,852740,00,Drawings and Prints,1933,Print,"Christmas Post (published in ""Harper's Weekly,...",...,00,00,Prints,00,http://www.metmuseum.org/art/collection/search...,00,"Metropolitan Museum of Art, New York, NY",00,00,00
475703,33.35.137,False,False,False,852741,00,Drawings and Prints,1933,Print,"The Golden New Year (published in ""Harper's We...",...,00,00,Prints,00,http://www.metmuseum.org/art/collection/search...,00,"Metropolitan Museum of Art, New York, NY",00,00,00

In [42]:
# Alternatively, I could select the columns I'm most interested in and fill in defaults that better match the column data
# (this could be done with the entire data frame, but I'm not interested in every single column)

# I want a data frame for just the Medieval art
medieval = df.loc[df['Department'] == 'Medieval Art']

# Now get the columns I want to see
med_cols = medieval[['Department','AccessionYear', 'Object Name', 'Title', 'Culture', 'Artist Role', 'Country', 'Region', 
                   'Artist Begin Date', 'Artist End Date', 'Artist Display Name', 'Artist Display Bio']]

med_cols.head()

,Department,AccessionYear,Object Name,Title,Culture,Artist Role,Country,Region,Artist Begin Date,Artist End Date,Artist Display Name,Artist Display Bio
21593,Medieval Art,1928,Fragment,Fragment,Syrian,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21594,Medieval Art,1928,Lamp fragment,Lamp Fragment,Syrian or Crusader,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21595,Medieval Art,1928,Neck of flask,Neck of Flask,Syrian,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21596,Medieval Art,1928,Fragment of a bowl,Fragment of a Bowl,French or German,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21597,Medieval Art,1928,Foot of a vessel,Foot of a Vessel,Syrian,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
# Fill in the missing fields with values of my choice and use inplace so that the existing dataframe is modifed
med_cols['Artist Role'].fillna('Artist', inplace = True)
med_cols['Country'].fillna('Unknown', inplace = True)
med_cols['Region'].fillna('Unknown', inplace = True)
med_cols['Artist Begin Date'].fillna('00', inplace = True)
med_cols['Artist End Date'].fillna('00', inplace = True)
med_cols['Artist Display Name'].fillna('NA', inplace = True)
med_cols['Artist Display Bio'].fillna('NA', inplace = True)
med_cols.head()

,Department,AccessionYear,Object Name,Title,Culture,Artist Role,Country,Region,Artist Begin Date,Artist End Date,Artist Display Name,Artist Display Bio
21593,Medieval Art,1928,Fragment,Fragment,Syrian,Artist,Unknown,Unknown,00,00,NA,NA
21594,Medieval Art,1928,Lamp fragment,Lamp Fragment,Syrian or Crusader,Artist,Unknown,Unknown,00,00,NA,NA
21595,Medieval Art,1928,Neck of flask,Neck of Flask,Syrian,Artist,Unknown,Unknown,00,00,NA,NA
21596,Medieval Art,1928,Fragment of a bowl,Fragment of a Bowl,French or German,Artist,Unknown,Unknown,00,00,NA,NA
21597,Medieval Art,1928,Foot of a vessel,Foot of a Vessel,Syrian,Artist,Unknown,Unknown,00,00,NA,NA

In [62]:
# drop duplicates
med_cols.drop_duplicates

<bound method DataFrame.drop_duplicates of           Department AccessionYear  \
21593   Medieval Art          1928
21594   Medieval Art          1928
21595   Medieval Art          1928
21596   Medieval Art          1928
21597   Medieval Art          1928
21598   Medieval Art          1928
21599   Medieval Art          1928
21600   Medieval Art          1928
21601   Medieval Art          1928
21602   Medieval Art          1928
21603   Medieval Art          1928
27589   Medieval Art          1923
27590   Medieval Art          1923
27591   Medieval Art          1923
27592   Medieval Art          1923
27593   Medieval Art          1923
27594   Medieval Art          1923
27595   Medieval Art          1923
27596   Medieval Art          1923
27597   Medieval Art          1923
27598   Medieval Art          1923
27599   Medieval Art          1923
27702   Medieval Art          1923
90347   Medieval Art          2009
202393  Medieval Art          2021
202394  Medieval Art          2021
202395  Medieval Art          2021
202397  Medieval Art          2021
202398  Medieval Art          2021
202513  Medieval Art          2021
...              ...           ...
426370  Medieval Art          1928
426372  Medieval Art          1928
426373  Medieval Art          1928
426374  Medieval Art          1928
426375  Medieval Art          1928
426376  Medieval Art          1928
426377  Medieval Art          1928
438702  Medieval Art          2020
439932  Medieval Art          2018
439933  Medieval Art          2018
439934  Medieval Art          2018
440370  Medieval Art          2018
445079  Medieval Art          2018
448807  Medieval Art          2018
449630  Medieval Art          2018
461668  Medieval Art          2018
461670  Medieval Art          2018
461671  Medieval Art          2018
461672  Medieval Art          2018
461674  Medieval Art          2018
461676  Medieval Art          2018
461677  Medieval Art          2018
461678  Medieval Art          2018
464355  Medieval Art          1908
464356  Medieval Art          1908
464378  Medieval Art          2019
470725  Medieval Art          2020
473826  Medieval Art          2020
474560  Medieval Art           NaN
474561  Medieval Art           NaN

                                            Object Name  \
21593                                          Fragment
21594                                     Lamp fragment
21595                                     Neck of flask
21596                                Fragment of a bowl
21597                                  Foot of a vessel
21598                                    Glass fragment
21599                              Fragment of a bottle
21600                                          Ornament
21601                                          Ornament
21602                              Fragment of a bottle
21603                                   Bottom of flask
27589   Manuscript cutting from a Dominican antiphonary
27590            Manuscript cutting from an antiphonary
27591            Manuscript cutting from an antiphonary
27592            Manuscript cutting from an antiphonary
27593                                Manuscript cutting
27594                                Manuscript cutting
27595                                Manuscript cutting
27596                                   Manuscript leaf
27597   Manuscript leaf cutting perhaps from a breviary
27598         Manuscript leaf cutting from a choir book
27599    Manuscript leaf cutting probably from a missal
27702                                   Manuscript leaf
90347                                           Orphrey
202393                                           Plaque
202394                                           Plaque
202395                                           Plaque
202397                                           Plaque
202398                                           Plaque
202513                                          Textile
...                                                 ...
426370                                    Lamp fragment
426372                                   Glass fragment
426373                                   Glass fragment
426374                                   Glass fragment
426375                                   Glass fragment
426376                             Fragment of a bottle
426377                             Fragment of a bottle
438702                        Four Leaves from a Gospel
439932                                 Reliquary; cross
439933                                 Reliquary; cross
439934                                 Reliquary; cross
440370                                 reliquary; cross
445079                                              Jug
448807                                           Censer
449630                                           Brooch
461668                                      Footed Bowl
461670                                             Bowl
461671                                             Bowl
461672                                           Plaque
461674                                          Textile
461676                                          Textile
461677                                          Textile
461678                                          Textile
464355                                         Fragment
464356                                         Fragment
464378                            Architectural tracery
470725                                              NaN
473826                                         Pddddded
474560                                              NaN
474561                   108 Chairs and Chair Fragments

                                                    Title  \
21593                                            Fragment
21594                                       Lamp Fragment
21595                                       Neck of Flask
21596                                  Fragment of a Bowl
21597                                    Foot of a Vessel
21598                                      Glass Fragment
21599                                Fragment of a bottle
21600                                            Ornament
21601                                            Ornament
21602                          Fragment of a Glass Bottle
21603                                     Bottom of Flask
27589   Initial P with the Martyrdom of Saint Peter Ma...
27590    Initial S with Saint Peter Liberated from Prison
27591          Initial A with the Battle of the Maccabees
27592   Manuscript Leaf Showing an Illuminated Initial...
27593   Manuscript Cutting from the Grande Chroniques ...
27594   Manuscript Cutting Showing a Scene from Hebrew...
27595                                   David and Goliath
27596   Manuscript Leaf from a Book of Hours Showing a...
27597   Manuscript Leaf Cutting Showing an Illumiated ...
27598   Manuscript Leaf Cutting from a Choir Book with...
27599   Manuscript Leaf Cutting Probably from a Missal...
27702   Manuscript Leaf Showing an Illuminated Initial...
90347                                             Orphrey
202393                           Panel with Wheat Sheaves
202394                                    Plaque of a Man
202395                              Plaque of a Young Man
202397                      Panel of Venus, “Pudica Type”
202398                         Panel with Warrior Resting
202513                                  Fragment of Woman
...                                                   ...
426370                                      Lamp Fragment
426372                                     Glass Fragment
426373                                     Glass Fragment
426374                                     Glass Fragment
426375                                     Glass Fragment
426376                               Fragment of a bottle
426377                         Fragment of a Glass Bottle
438702  Four miniatures of the life of Christ from a g...
439932                            Pendant Cross Reliquary
439933                                  Reliquary Pendant
439934                  Half of a Reliquary Pendant Cross
440370                  Half of a Reliquary Pendant Cross
445079                      Jug with Finely-Dressed Woman
448807                                      Votive Censer
449630                                        Ring Brooch
461668                                     Bowl with Face
461670                                     Bowl with Bird
461671                       Bowl with incised decoration
461672                     Bone plaque with Female Dancer
461674              Wool Roundel with Mythological Animal
461676                        Textile with Diaper Pattern
461677                Wool textile with Geometric Pattern
461678                              Silk Squares on Linen
464355                       Glass Fragment from a Vessel
464356                       Glass Fragment from a Vessel
464378  Tracery Arcade from the Great South Window of ...
470725   Icon of the Virgin and Child, Hodegetria variant
473826                                           Pedestal
474560            Ten Byzantine Coins (See attached list)
474561                         11 Stained Glass Fragments

                               Culture    Artist Role          Country  \
21593                           Syrian         Artist          Unknown
21594               Syrian or Crusader         Artist          Unknown
21595                           Syrian         Artist          Unknown
21596                 French or German         Artist          Unknown
21597                           Syrian         Artist          Unknown
21598                         Crusader         Artist          Unknown
21599                           Syrian         Artist          Unknown
21600                           Syrian         Artist          Unknown
21601                           Syrian         Artist          Unknown
21602                           Syrian         Artist          Unknown
21603                           Syrian         Artist          Unknown
27589                          Italian         Artist            Italy
27590                          Italian         Artist            Italy
27591                          Italian         Artist            Italy
27592                    North Italian         Artist          Unknown
27593                           French         Artist          Unknown
27594                           French         Artist          Unknown
27595                           French         Artist          Unknown
27596                           French         Artist          Unknown
27597                          Italian         Artist            Italy
27598                          Italian         Artist            Italy
27599                           French         Artist          Unknown
27702                          Rhenish         Artist          Unknown
90347                          British         Artist          Unknown
202393      Late Roman/Early Byzantine         Artist          Unknown
202394      Late Roman/Early Byzantine         Artist          Unknown
202395                        Egyptian         Artist          Unknown
202397      Late Roman/Early Byzantine         Artist          Unknown
202398      Late Roman/Early Byzantine         Artist          Unknown
202513                 Early Byzantine         Artist          Unknown
...                                ...            ...              ...
426370              Syrian or Crusader         Artist          Unknown
426372                        Crusader         Artist          Unknown
426373                        Crusader         Artist          Unknown
426374                        Crusader         Artist          Unknown
426375                        Crusader         Artist          Unknown
426376                          Syrian         Artist          Unknown
426377                          Syrian         Artist          Unknown
438702                        Armenian         Artist          Unknown
439932  Byzantine or early Russian (?)         Artist          Unknown
439933                       Byzantine         Artist          Unknown
439934                       Byzantine         Artist          Unknown
440370                       Byzantine         Artist          Unknown
445079                 Central Italian         Artist            Italy
448807                 Byzantine style         Artist          Unknown
449630               French or British         Artist          Unknown
461668                       Byzantine         Artist          Unknown
461670                 Central Italian         Artist            Italy
461671                       Byzantine         Artist          Unknown
461672      Late Roman/Early Byzantine         Artist          Unknown
461674                        Egyptian         Artist          Unknown
461676                        Egyptian         Artist          Unknown
461677                        Egyptian         Artist            Egypt
461678                        Egyptian         Artist            Egypt
464355                          Coptic         Artist  Byzantine Egypt
464356                          Coptic         Artist  Byzantine Egypt
464378                         British  Artist|Artist          England
470725           Byzantine or Crusader         Artist            Egypt
473826       North or Central European         Artist          Unknown
474560               See attached list         Artist          Unknown
474561               See attached list         Artist          Unknown

         Region Artist Begin Date Artist End Date  \
21593   Unknown                00              00
21594   Unknown                00              00
21595   Unknown                00              00
21596   Unknown                00              00
21597   Unknown                00              00
21598   Unknown                00              00
21599   Unknown                00              00
21600   Unknown                00              00
21601   Unknown                00              00
21602   Unknown                00              00
21603   Unknown                00              00
27589   Unknown                00              00
27590   Unknown                00              00
27591   Unknown                00              00
27592   Unknown                00              00
27593   Unknown                00              00
27594   Unknown                00              00
27595   Unknown                00              00
27596   Unknown                00              00
27597   Unknown                00              00
27598   Unknown                00              00
27599   Unknown                00              00
27702   Unknown                00              00
90347   Unknown                00              00
202393    Egypt                00              00
202394    Egypt                00              00
202395  Unknown                00              00
202397    Egypt                00              00
202398    Egypt                00              00
202513    Egypt                00              00
...         ...               ...             ...
426370  Unknown                00              00
426372  Unknown                00              00
426373  Unknown                00              00
426374  Unknown                00              00
426375  Unknown                00              00
426376  Unknown                00              00
426377  Unknown                00              00
438702  Unknown        1275            1325
439932  Unknown                00              00
439933  Unknown                00              00
439934  Unknown                00              00
440370  Unknown                00              00
445079  Unknown                00              00
448807  Unknown                00              00
449630  Unknown                00              00
461668  Unknown                00              00
461670  Unknown                00              00
461671  Unknown                00              00
461672  Unknown                00              00
461674  Unknown                00              00
461676  Unknown                00              00
461677  Unknown                00              00
461678  Unknown                00              00
464355  Unknown                00              00
464356  Unknown                00              00
464378  Unknown                00              00
470725  Unknown                00              00
473826  Unknown                00              00
474560  Unknown                00              00
474561  Unknown                00              00

                                      Artist Display Name  \
21593                                                  NA
21594                                                  NA
21595                                                  NA
21596                                                  NA
21597                                                  NA
21598                                                  NA
21599                                                  NA
21600                                                  NA
21601                                                  NA
21602                                                  NA
21603                                                  NA
27589                                                  NA
27590                                                  NA
27591                                                  NA
27592                                                  NA
27593                                                  NA
27594                                                  NA
27595                                                  NA
27596                                                  NA
27597                                     Olivetan Master
27598                                                  NA
27599                                                  NA
27702                                                  NA
90347                                                  NA
202393                                                 NA
202394                                                 NA
202395                                                 NA
202397                                                 NA
202398                                                 NA
202513                                                 NA
...                                                   ...
426370                                                 NA
426372                                                 NA
426373                                                 NA
426374                                                 NA
426375                                                 NA
426376                                                 NA
426377                                                 NA
438702                                  T`oros the Deacon
439932                                                 NA
439933                                                 NA
439934                                                 NA
440370                                                 NA
445079                                                 NA
448807                                                 NA
449630                                                 NA
461668                                                 NA
461670                                                 NA
461671                                                 NA
461672                                                 NA
461674                                                 NA
461676                                                 NA
461677                                                 NA
461678                                                 NA

### Chapter 8
- Create hierarchical index
- Combine and Merge Datasets (you will have to either create a new dataset from your existing data or - create a relationship between the data I have provided)
- Reshape
- Pivot the data

In [70]:
# I'm sticking with the updated Medieval-only data set from the last section
# Create dataframe 1 of manuscript cuttings
med_cut = med_cols.loc[df['Object Name'] == 'Manuscript cutting']
med_cut.head(2)

,Department,AccessionYear,Object Name,Title,Culture,Artist Role,Country,Region,Artist Begin Date,Artist End Date,Artist Display Name,Artist Display Bio
27593,Medieval Art,1923,Manuscript cutting,Manuscript Cutting from the Grande Chroniques ...,French,Artist,Unknown,Unknown,00,00,NA,NA
27594,Medieval Art,1923,Manuscript cutting,Manuscript Cutting Showing a Scene from Hebrew...,French,Artist,Unknown,Unknown,00,00,NA,NA

In [89]:
# Check the shape
med_cut.shape

(6, 12)

In [69]:
# Create dataframe 2 of manuscript leafs
med_leaf = med_cols.loc[df['Object Name'] == 'Manuscript leaf']
med_leaf.head(2)

,Department,AccessionYear,Object Name,Title,Culture,Artist Role,Country,Region,Artist Begin Date,Artist End Date,Artist Display Name,Artist Display Bio
27596,Medieval Art,1923,Manuscript leaf,Manuscript Leaf from a Book of Hours Showing a...,French,Artist,Unknown,Unknown,00,00,NA,NA
27702,Medieval Art,1923,Manuscript leaf,Manuscript Leaf Showing an Illuminated Initial...,Rhenish,Artist,Unknown,Unknown,00,00,NA,NA

In [90]:
# Check the shape
med_leaf.shape

(16, 12)

In [85]:
# Combine the two manuscript datasets into one long list
med_frames = [med_cut, med_leaf]
med_man = pd.concat(med_frames)

# Look at the new data set
med_man.shape

(22, 12)

In [112]:
# Check the header of the new dataset
# No particualr reason to do this here, except it's probably a SQL habit to check the data-pull while I'm writing the report code
med_man.head()

,Department,AccessionYear,Object Name,Title,Culture,Artist Role,Country,Region,Artist Begin Date,Artist End Date,Artist Display Name,Artist Display Bio
27593,Medieval Art,1923,Manuscript cutting,Manuscript Cutting from the Grande Chroniques ...,French,Artist,Unknown,Unknown,00,00,NA,NA
27594,Medieval Art,1923,Manuscript cutting,Manuscript Cutting Showing a Scene from Hebrew...,French,Artist,Unknown,Unknown,00,00,NA,NA
27595,Medieval Art,1923,Manuscript cutting,David and Goliath,French,Artist,Unknown,Unknown,00,00,NA,NA
317066,Medieval Art,1948,Manuscript cutting,Manuscript Illumination with Adoration of the ...,South Netherlandish,Artist,Netherlands,Unknown,1480,1535,Master of James IV of Scotland (probably Gerar...,"South Netherlandish, active ca. 1485–1530"
317067,Medieval Art,1948,Manuscript cutting,Manuscript Illumination with Scenes from the L...,South Netherlandish,Artist,Netherlands,Unknown,1480,1535,Master of James IV of Scotland (probably Gerar...,"South Netherlandish, active ca. 1485–1530"

In [121]:
# Reshape the manuscripts data with stack
med_stack = med_man.stack()

# Look at the 12 columns, now inverted
med_stack.head(12)

27593  Department                                                  Medieval Art
       AccessionYear                                                       1923
       Object Name                                           Manuscript cutting
       Title                  Manuscript Cutting from the Grande Chroniques ...
       Culture                                                           French
       Artist Role                                                       Artist
       Country                                                          Unknown
       Region                                                           Unknown
       Artist Begin Date                                                     00
       Artist End Date                                                       00
       Artist Display Name                                                   NA
       Artist Display Bio                                                    NA
dtype: object

In [123]:
# How does the shape change?
med_stack.shape

(264,)

In [116]:
# Put it back
med_unstack = med_stack.unstack()
med_unstack.head()

,Department,AccessionYear,Object Name,Title,Culture,Artist Role,Country,Region,Artist Begin Date,Artist End Date,Artist Display Name,Artist Display Bio
27593,Medieval Art,1923,Manuscript cutting,Manuscript Cutting from the Grande Chroniques ...,French,Artist,Unknown,Unknown,00,00,NA,NA
27594,Medieval Art,1923,Manuscript cutting,Manuscript Cutting Showing a Scene from Hebrew...,French,Artist,Unknown,Unknown,00,00,NA,NA
27595,Medieval Art,1923,Manuscript cutting,David and Goliath,French,Artist,Unknown,Unknown,00,00,NA,NA
317066,Medieval Art,1948,Manuscript cutting,Manuscript Illumination with Adoration of the ...,South Netherlandish,Artist,Netherlands,Unknown,1480,1535,Master of James IV of Scotland (probably Gerar...,"South Netherlandish, active ca. 1485–1530"
317067,Medieval Art,1948,Manuscript cutting,Manuscript Illumination with Scenes from the L...,South Netherlandish,Artist,Netherlands,Unknown,1480,1535,Master of James IV of Scotland (probably Gerar...,"South Netherlandish, active ca. 1485–1530"

In [124]:
# Shape should be back to the original
med_unstack.shape

(22, 12)

### Chapter 10
- Grouping with Dicts/Series
- Grouping with Functions
- Grouping with Index Levels
- Split/Apply/Combine
- Cross Tabs

In [152]:
# Grouping my data
# This will use the med_cols data set, which is the subset I created for just the Medieval items in the collection
# For this group by I want to see how many items there are by accession year by using the object name and culture
med_group = med_cols.groupby(['AccessionYear', 'Object Name', 'Culture'])['Culture'].count()
med_group

# Side note, am I the only one who giggles at the idea of there being a ron on Medieval German door handles in 1887  :)

AccessionYear  Object Name                        Culture
1873           Bowl or cup                        Byzantine                          1
               Bowl or patera                     European                           1
               Bowl or plate                      French                             2
1874           Bulla                              Frankish                           1
1877           Sculpture                          Roman                              1
1881           Beaker                             Frankish                           1
               Bowl                               Late Roman                         1
               Intaglio                           Roman                              2
               Medallion                          Italian                            1
1883           Bowl                               Russian                            2
               Drinking horn                      Danish                             1
               Plate                              Byzantine                          1
                                                  Spanish                            1
               Situla                             Byzantine                          1
               Vase                               Byzantine                          1
1885           Bottle                             Scythian                           2
               Cup                                Scythian                           4
               Cup or bratina                     Scythian                           1
               Ewer                               Scythian                           1
               Statuette                          South German                       1
               Wall statue                        German                             1
1886           Seal                               Byzantine                          1
1887           Door band tip                      German                             1
               Door handle                        German                            15
               Door handle and escutcheon plates  German                             1
               Door handle and plate              German                             3
               Door handle or knocker             German                             1
               Door handle plate                  German                             1
               Door hinge                         German                             1
               Door knocker                       German                             1
                                                                                    ..
2018           Brooch                             French or British                  1
               Censer                             Byzantine style                    1
               Footed Bowl                        Byzantine                          1
               Jug                                Central Italian                    1
               Plaque                             Late Roman/Early Byzantine         1
               Reliquary; cross                   Byzantine                          2
                                                  Byzantine or early Russian (?)     1
               Textile                            Egyptian                           4
               reliquary; cross                   Byzantine                          1
2019           Architectural tracery              British                            1
               Cross                              Byzantine                          1
2020           Four Leaves from a Gospel          Armenian                           1
               Pddddded                           North or Central European          1
2021           Coin                               Byzantine                          3
               Coins                              Byzantine                          1
               Fragment                           Early Byzantine                    1
                                                  Late Roman/Early Byzantine         1
               Mirror case                        French                             1
               Pharmacy Jar                       Spanish                            1
               Plaque                             Byzantine                          1
                                                  Egyptian                           1
                                                  Late Roman/Early Byzantine         4
               Pyx fragments                      Byzantine                          1
               Reliquary cross                    Byzantine                          1
               Sculpture                          Franco-Flemish                     1
                                                  French                             2
               Textile                            Byzantine                          1
                                                  Coptic                             1
                                                  Early Byzantine                    3
                                                  Late Roman/Early Byzantine         1
Name: Culture, Length: 2283, dtype: int64

In [184]:
# Create a subset og the medieval manuscript data set with only the columns I want to see in the group by 
med_man_group = med_man[['AccessionYear', 'Object Name', 'Culture', 'Country', 'Region']]
med_man_group.head()

,AccessionYear,Object Name,Culture,Country,Region
27593,1923,Manuscript cutting,French,Unknown,Unknown
27594,1923,Manuscript cutting,French,Unknown,Unknown
27595,1923,Manuscript cutting,French,Unknown,Unknown
317066,1948,Manuscript cutting,South Netherlandish,Netherlands,Unknown
317067,1948,Manuscript cutting,South Netherlandish,Netherlands,Unknown

In [185]:
# Group the new data set by culture
for name, group in med_man_group.groupby('Culture'):
    print(name)
    print(group)

Armenian
       AccessionYear      Object Name   Culture  Country   Region
321161          2009  Manuscript leaf  Armenian  Unknown  Unknown
Coptic
       AccessionYear      Object Name Culture          Country   Region
321839          1921  Manuscript leaf  Coptic  Byzantine Egypt  Unknown
321840          1921  Manuscript leaf  Coptic  Byzantine Egypt  Unknown
321841          1921  Manuscript leaf  Coptic  Byzantine Egypt  Unknown
321842          1921  Manuscript leaf  Coptic  Byzantine Egypt  Unknown
Egyptian
       AccessionYear      Object Name   Culture  Country   Region
321878          1909  Manuscript leaf  Egyptian  Unknown  Unknown
French
       AccessionYear         Object Name Culture  Country   Region
27593           1923  Manuscript cutting  French  Unknown  Unknown
27594           1923  Manuscript cutting  French  Unknown  Unknown
27595           1923  Manuscript cutting  French  Unknown  Unknown
27596           1923     Manuscript leaf  French  Unknown  Unknown
314050          1917     Manuscript leaf  French  Unknown  Unknown
316506          1931     Manuscript leaf  French   France  Unknown
German
       AccessionYear      Object Name Culture  Country   Region
319807          1939  Manuscript leaf  German  Unknown  Unknown
German or Swiss
       AccessionYear      Object Name          Culture  Country   Region
321583          2010  Manuscript leaf  German or Swiss  Unknown  Unknown
Italian
       AccessionYear         Object Name  Culture Country   Region
317268          1955  Manuscript cutting  Italian   Italy  Unknown
315754          1994     Manuscript leaf  Italian   Italy  Unknown
317265          1955     Manuscript leaf  Italian   Italy  Unknown
317730          1896     Manuscript leaf  Italian   Italy  Unknown
Netherlandish
       AccessionYear      Object Name        Culture  Country   Region
317218          1953  Manuscript leaf  Netherlandish  Unknown  Unknown
Rhenish
      AccessionYear      Object Name  Culture  Country   Region
27702          1923  Manuscript leaf  Rhenish  Unknown  Unknown
South Netherlandish
       AccessionYear         Object Name              Culture      Country  \
317066          1948  Manuscript cutting  South Netherlandish  Netherlands
317067          1948  Manuscript cutting  South Netherlandish  Netherlands

         Region
317066  Unknown
317067  Unknown

In [269]:
# Split my Medieval data set by date the artist began working (when known)

# First select the columns I want to see when I do the split
med_split = medieval[['AccessionYear', 'Object Name', 'Title', 'Culture', 'Country','Artist Begin Date', 'Artist End Date', 'Artist Display Name']]

# Remove the the rows where the date is unknown
med_artist = med_split[med_split['Artist Begin Date'] != '00']
med_artist.head(3)

,AccessionYear,Object Name,Title,Culture,Country,Artist Begin Date,Artist End Date,Artist Display Name
21593,1928,Fragment,Fragment,Syrian,NaN,NaN,NaN,NaN
21594,1928,Lamp fragment,Lamp Fragment,Syrian or Crusader,NaN,NaN,NaN,NaN
21595,1928,Neck of flask,Neck of Flask,Syrian,NaN,NaN,NaN,NaN

In [271]:
# Split the data for years before the year 1450
med_artist_1449 = med_artist[med_artist['Artist Begin Date'] < '1300']
med_artist_1449.head(3)

,AccessionYear,Object Name,Title,Culture,Country,Artist Begin Date,Artist End Date,Artist Display Name
313456,1910,Pilaster,Pilaster of Angels Sounding Trumpets from the ...,Central Italian,Italy,1235,1320,Giovanni Pisano
313457,1910,Pilaster,Pilaster of Angels Sounding Trumpets from the ...,Central Italian,Italy,1235,1320,Giovanni Pisano
315423,1918,Sculpture,Lectern for the Reading of the Gospels with th...,Italian,Italy,1240,1319,Giovanni Pisano

In [273]:
# Split the data for years on or after 1450 
med_artist_1450 = med_artist[med_artist['Artist Begin Date'] >= '1300']
med_artist_1450.head(3)

,AccessionYear,Object Name,Title,Culture,Country,Artist Begin Date,Artist End Date,Artist Display Name
313056,1906,Statuette,Female Saint,South Netherlandish,NaN,1460,1531,Jan van Steffesweert
313165,1907,sculpture,Saint Catherine of Alexandria,French,France,1460,1515,Jan Crocq
313188,1907,Bell,The Bell of Saint Patrick Shrine,Irish,NaN,1829,1963,Elkington & Co.

### Chapter 11
- Convert between string and date time
- Generate date range
- Frequencies and date offsets
- Convert timestamps to periods and back
- Period Frequency conversions

In [282]:
# Import the datetime library
from datetime import datetime

In [323]:
# Generate a list of dates to work with in the next step
dates = pd.date_range('2021-08-01 02:45 PM', '2021-08-13 02:45 PM')
dates

DatetimeIndex(['2021-08-01 14:45:00', '2021-08-02 14:45:00',
               '2021-08-03 14:45:00', '2021-08-04 14:45:00',
               '2021-08-05 14:45:00', '2021-08-06 14:45:00',
               '2021-08-07 14:45:00', '2021-08-08 14:45:00',
               '2021-08-09 14:45:00', '2021-08-10 14:45:00',
               '2021-08-11 14:45:00', '2021-08-12 14:45:00',
               '2021-08-13 14:45:00'],
              dtype='datetime64[ns]', freq='D')

In [327]:
# convert my dates to strings
dates_str =str(dates)
dates_str

"DatetimeIndex(['2021-08-01 14:45:00', '2021-08-02 14:45:00',\n               '2021-08-03 14:45:00', '2021-08-04 14:45:00',\n               '2021-08-05 14:45:00', '2021-08-06 14:45:00',\n               '2021-08-07 14:45:00', '2021-08-08 14:45:00',\n               '2021-08-09 14:45:00', '2021-08-10 14:45:00',\n               '2021-08-11 14:45:00', '2021-08-12 14:45:00',\n               '2021-08-13 14:45:00'],\n              dtype='datetime64[ns]', freq='D')"

In [329]:
# convert my dates to just yyyy-mm-dd
dates.strftime('%Y-%m-%d')

Index(['2021-08-01', '2021-08-02', '2021-08-03', '2021-08-04', '2021-08-05',
       '2021-08-06', '2021-08-07', '2021-08-08', '2021-08-09', '2021-08-10',
       '2021-08-11', '2021-08-12', '2021-08-13'],
      dtype='object')

In [331]:
# Converts dates to dd-mm-yyyy, which is how we usually read dates
dates.strftime('%d-%m-%Y')

Index(['01-08-2021', '02-08-2021', '03-08-2021', '04-08-2021', '05-08-2021',
       '06-08-2021', '07-08-2021', '08-08-2021', '09-08-2021', '10-08-2021',
       '11-08-2021', '12-08-2021', '13-08-2021'],
      dtype='object')

In [335]:
# Generate a new list of dates
# First day of the month
new_dates = pd.date_range('01-01-2020', '01-01-2021', freq = 'BMS')
new_dates

DatetimeIndex(['2020-01-01', '2020-02-03', '2020-03-02', '2020-04-01',
               '2020-05-01', '2020-06-01', '2020-07-01', '2020-08-03',
               '2020-09-01', '2020-10-01', '2020-11-02', '2020-12-01',
               '2021-01-01'],
              dtype='datetime64[ns]', freq='BMS')

In [344]:
# Import the library for this section
from pandas.tseries.offsets import Hour, Minute, Day

In [342]:
# Generate a date list shoing the first Monday of every month
dates_mon = pd.date_range('01-01-2019', '01-01-2021', freq = 'WOM-1MON')
dates_mon

DatetimeIndex(['2019-01-07', '2019-02-04', '2019-03-04', '2019-04-01',
               '2019-05-06', '2019-06-03', '2019-07-01', '2019-08-05',
               '2019-09-02', '2019-10-07', '2019-11-04', '2019-12-02',
               '2020-01-06', '2020-02-03', '2020-03-02', '2020-04-06',
               '2020-05-04', '2020-06-01', '2020-07-06', '2020-08-03',
               '2020-09-07', '2020-10-05', '2020-11-02', '2020-12-07'],
              dtype='datetime64[ns]', freq='WOM-1MON')

In [349]:
# Use the above date set that proiveds the first monday of the month and offset it by 2 days
dates_mon2 = dates_mon + 2 * Day()
dates_mon2

DatetimeIndex(['2019-01-09', '2019-02-06', '2019-03-06', '2019-04-03',
               '2019-05-08', '2019-06-05', '2019-07-03', '2019-08-07',
               '2019-09-04', '2019-10-09', '2019-11-06', '2019-12-04',
               '2020-01-08', '2020-02-05', '2020-03-04', '2020-04-08',
               '2020-05-06', '2020-06-03', '2020-07-08', '2020-08-05',
               '2020-09-09', '2020-10-07', '2020-11-04', '2020-12-09'],
              dtype='datetime64[ns]', freq=None)